:root {
    --blue-light: #2b7fff;
    --gray-light: #ffffff40;
    --white: #ffffff;
    --black: #29272733;
    --gray-dark: #4a4a4a;
    --blue-dark: #011c44;
}

.header {
    height: 657px;
    padding-bottom: 124px ;
    background: linear-gradient(to right, #EEF 0%, #eef calc(35% - 160px), transparent calc(63% - 30px), transparent calc(100% + 0px), #eef calc(64% + 160px), #eee 100%), url("../images/teethDoctor.jpg") no-repeat top right;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}


@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .header {
        background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/teethDoctor.jpg");
    }
}

.header__title {
    margin-bottom: 48px;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 67px;
    line-height: 1;
    font-weight: 900;
}

@media screen and (min-width: 1280px) {
    .header__title {
        margin-bottom: 0;
        font-size: 128px;
        line-height: 1.5;
    }
}

.header__button {
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .header__button {
        display: none;
    }
}


.header1 {
    background: linear-gradient(to right, #EEF 0%, #eef calc(35% - 160px), transparent calc(63% - 30px), transparent calc(100% + 0px), #eef calc(64% + 160px), #eee 100%),
    url("/images/teethDoctor.jpg") no-repeat top right;
    height: 600px;
    width: 100%;
    font-family: robotoregular, sans-serif;
} 



.header .navigation .navig a:hover {
    font-weight: bold;
}

.special-conteiner {
    padding: 0 !important;
    margin: 0 !important;
}

h2 {
    color: var(--blue-dark);
}

span {
    color: var(--blue-light);
    
}

body {
    margin: 0
}

.navigation {
    width: 100%;
    height: 106px;
    display: flex;
    align-items: center;
    background-color: var(--gray-light);
    box-shadow: 0 0 1rem 0 var(--black);
}

.logo {
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-family: playbold, sans-serif;
    
}

.logo-bot {
    font-weight: 700;
    font-family: playregular;
    font-size: 24px;
    line-height: 21px;
    color: var(--blue-light);
}

.logo a {
    color: var(--blue-light);
}

.nav-link {
    width: 40%;
    display: flex;
    justify-content: space-around;

}

.navig-bot{
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    width: 200px;
    max-height: 160px;
    height: auto;

}

.nav-link-bot {
    display: flex;
    justify-content: space-around;
    padding-top: 56px;
    
}

.navig {
    display: contents;
    gap: 40px;
}

.conteiner {
    width: 100%;
    max-width: 1215px;
    margin: 0 auto;
    padding: 0 24px;
}

.center-class {
    text-align: center;
    
    padding-bottom: 46px;
}

.contact {
    width: 30%;
    display: flex;
    justify-content: end;
    padding-right: 30px
}

.icon-wrapper {
    font-size: 25px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.address-icon {

}

.address-icon-bot {
    fill: var(--white);
    height: 30px;
}

.icon-wrapper-bot {
    font-size: 25px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    color: var(--white);
    height: 30px;
}

.before-after { 
    display: flex;
    height: 655px;
    justify-content: space-around;
}

.before {
    display: flex;
    height: 300px;
    border-radius: 100%;
    position: relative;
    left: 130px;
    top: -41px;
}

.after {
    display: flex;
    height: 300px;
    border-radius: 100%;
    position: relative;
    top: 325px;
    left: -5px;
}

.bigstar {
    position: relative;
    left: -337px;
    top: 320px
}

.middlestar {
    position: relative;
    left: -85px
}

.smallstar {
    position: relative;
    top: 245px;
    left: -77px
}

.why-us {
    display: flex;
    gap: 56px;
    justify-content: center;
    flex-wrap: wrap;
}

.background-why-us {
    background-image: url("../images/background-two.png");
    padding-top: 200px;
    padding-bottom: 200px;
}

.three-block {
    width: 310px;
    height: 180px;
    background-color: var(--white);
    border-radius: 32px;
    text-align: center;
    
}

.three-block img {
    height: 40px;
    width: 40px;
    padding-top: 20px;
}

.three-block p {
    font-size: 18px;
    font-family: robotoregular;
    line-height: 24px;
    font-weight: 400;
}

.three-image {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-around;
}

.how-to-find-us {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
        flex-basis: calc((100% - 112px) / 3);
}

.main {
    padding-top: 85px;
}

.main-text {
    font-size: 64px;
    font-family: playregular;
}

.register-form-conteiner {
    height: 480px;
    width: 420px;
    text-align: center;
    border: 1px solid #011c44;
    border-radius: 32px;
    background-color: var(--blue-dark);

}

.form-fields {
    margin: 10px;
}

.fields {
    width: 310px;
    height: 50px;
    border: 2px solid #747272;
    border-radius: 28px;
    background: transparent;
    
}

::placeholder {
    color: var(--white);
    padding-left: 20px;
}

.our-procedure {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0
}

.carousel-button {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    gap: 32px;
    fill: var(--blue-dark);
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--blue-dark);
}

.carousel-button:hover {
    background-color: var(--blue-light);
    fill: var(--white);
}

.titles {
    font-size: 64px;
    font-family: playregular;
    font-weight: 700px;
    line-height: 74px;
    margin: 0;
}

.titles-extra {
    font-size: 64px;
    font-family: playregular;
    font-weight: 700px;
    line-height: 74px;
    margin: 0;
}

.presentation {
    display: flex;
    gap: 32px;
}

.content-presentation {
    max-width: 705px;
}

.img-content {
    width: 380px;
}

.text-to-presentation {
    font-size: 22px;
    font-family: robotoregular;
    line-height: 38px;
    font-weight: 400;
}



.text-to-why-us {
    font-size: 18px;
    font-weight: 400;
    font-family: robotoregular;
    line-height: 24px;
    flex-basis: calc((100% - 112px) / 3);

}

.text-to-bot {
    font-family: robotoregular;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--white);
}

li {
    list-style-type: none;
    margin-bottom: 16px;
}

.formats-card {
    padding-left: 115px ;
    padding-top: 372px ;
    padding-bottom: 32px ;
    padding-right: 77px ;
    border: 1px solid lightgray;
    border-radius: 4px 100px;
    
}

.formats-item {
    flex-basis: calc((100% - 32px) / 3); 
    max-width: 340px;
    max-height: 450px;
}

.footer {
    background-color:var(--blue-dark);
    height: 280px;
    display: flex;
    margin-top: 96px;
    width: 100%;
}

.bot-contacts {
    height: auto;
    max-height: 166px;
}

.address-copyright {
    color: var(--gray-dark);
}

.form-politics {
    color: var(--gray-dark);
    font-size: 12px;
    line-height: 18px;
}

.form-politics a {
    text-decoration: underline;
}

.politics {
    height: auto;
    max-height: 50px;
}


.zagolovok {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    color: var(--blue-light);
    width: 559px;
    height: 232px;
    font-size: 95px;
    margin: 0;
    font-family: playbold, sans-serif;
}

.button {
    position: relative;
    left: 17%;
    transform: translate(-50%, 0);
    font-size: 18px;
    background-color: var(--blue-light);
    padding: 10px 20px 10px 20px;
    border-radius: 32px;
    border: 0;
    color: var(--white)
}

.form-title {
    font-size: 22px;
    width: 270px;
    padding-left: 70px ;
    color: var(--white);
    font-family: robotoregular;
    font-weight: 600;
    
}

.form-button {
    position: relative;
    font-size: 18px;
    background-color: var(--blue-light);
    width: 280px;
    height: 50px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 32px;
    border: 0;
    color: var(--white)
}

.plain-text {
    display: flex;
    justify-content: center;
    position: relative;
    left: -32%;
    font-size: 12px;
    color: var(--gray-dark)
}

.map {
    border-radius: 32px;
}

.names-text {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: var(--blue-dark);
    font-size: 18px;
    position: relative;
    left: -34%;

}

p {
    font-family: robotoregular;
}

a {
    text-decoration: none;
    color: var(--blue-dark);
    font-family: robotoregular;
}

a:hover{
    text-decoration: none;
    color: var(--blue-light);
}

