.our-procedure {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0
}

.carousel-button {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    gap: 32px;
    fill: var(--blue-dark);
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--blue-dark);
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: var(--blue-light);
    fill: var(--white);
}

.carousel-button.next {
    transform: rotate(180deg);
}

